.header{
    color: #fff;
    background-color: green;
    padding: 50px 100px;
    text-align: center;
}

.main{
    padding: 50px 100px;
    text-align: center;
    color: #fff;
    background-color: red;
}

.footer{
    background-color: yellow;
    color: #fff;
    text-align: center;
    padding: 50px 100px;
}